

data/*
code/archive/*
amber_resources/*
.Rprofile
block_pws.csv
duckdb_spatial_migration_notes.md
air.toml
.vscode
quarto/de_walkthrough
quarto/de_walkthrough_v2/data/*
*.html
code/scribbles/map_scribbles.R
code/scribbles/misc_out_of_wflow_problems.R
documentation/~$ter_contaminant_weighting_protocol.docx
documentation/DeRoos_R21_UCMR-MDAC_FINAL.pdf
documentation/Method for creating dataset.docx
documentation/water_contaminant_weighting_protocol.docx
documentation/amber/Folder Description.docx
documentation/amber/merge_data_analysis_code.R
documentation/amber/Method for creating dataset.docx
documentation/amber/population_weighting.R
documentation/epa_water/Added_Systems_V_2_1.csv
documentation/epa_water/Crosswalk.png
documentation/epa_water/Documentation.pdf
documentation/epa_water/Missing_Systems_V_2_1.csv
documentation/epa_water/New_System_Sourced_V_2_1.csv
documentation/epa_water/README.md
documentation/epa_water/Removed_Systems_V_2_1.csv
documentation/epa_water/review_6_year/epa 6 year review.pdf
documentation/epa_water/review_6_year/user_guide_to_obtaining_and_using_syr3_data.pdf
documentation/epa_water/systems/Added_Systems_V_2_1.csv
documentation/epa_water/systems/Crosswalk.png
documentation/epa_water/systems/Documentation.pdf
documentation/epa_water/systems/Missing_Systems_V_2_1.csv
documentation/epa_water/systems/New_System_Sourced_V_2_1.csv
documentation/epa_water/systems/README.md
documentation/epa_water/systems/Removed_Systems_V_2_1.csv
documentation/epa_water/ucmr_data/ucmr3-data-summary.pdf
quarto/sanity_checks/check_covariates_files/libs/

quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/bootstrap/bootstrap-d7a540a1092b4643827ea2635d6c4cb5.min.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/bootstrap/bootstrap-icons.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/bootstrap/bootstrap-icons.woff
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/bootstrap/bootstrap.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/clipboard/clipboard.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/core-js-2.5.3/LICENSE
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/core-js-2.5.3/package.json
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/core-js-2.5.3/shim.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/htmltools-fill-0.5.8.1/fill.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/htmlwidgets-1.6.4/htmlwidgets.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/anchor.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/popper.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/quarto-syntax-highlighting-15634bcf2e68342d4ad2dfa704d543f6.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/quarto.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/tippy.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/tippy.umd.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/quarto-html/tabsets/tabsets.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/react-18.2.0/AUTHORS
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/react-18.2.0/LICENSE.txt
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/react-18.2.0/react-dom.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/react-18.2.0/react.min.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.css
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.js.map
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.server.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.server.js.LICENSE.txt
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.server.js.map
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-0.4.5/reactable.yaml
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactable-binding-0.4.5/reactable.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/libs/reactwidget-2.0.0/react-tools.js
quarto/pwsid_helper/pwsid_source_walkthrough_files/figure-html/unnamed-chunk-4-1.png
quarto/pwsid_helper/data/pws_main_source.rds
quarto/pwsid_helper/helper_files/homeland_pws_census_blocks.png
quarto/pwsid_helper/helper_files/pws_types.png
quarto/pwsid_helper/helper_files/ucmr_data_summary_all_rounds.csv
quarto/pwsid_helper/helper_files/Water_System_Serivce_Area_Technical_Documentation.pdf
ucmr1-data-summary.pdf
ucmr2-data-summary.pdf
ucmr3-data-summary.pdf
ucmr4-data-summary.pdf
ucmr5-data-summary_0.pdf
user_guide_to_obtaining_and_using_syr3_data.pdf
